<% add_rss_feed_to_head(blog.name, blog.feed.url)  if blog.blog? && blog.feed %>

<%= content_tag('em', _('(external feed was not loaded yet)'), :id => 'external-feed-info', :class => 'metadata') if blog.blog? && blog.external_feed && blog.external_feed.enabled && blog.external_feed.fetched_at.nil? %>

<div>
  <div class="blog-description">
    <%= blog.body %>
    <% unless params[:tag].blank? %>
      <p class="blog-tag-filter">
        <span class="blog-tag-filter-info"><%=_('Filtered by')%></span>
        <span class="blog-tag-filter-list"><%=
          params[:tag].split(',') \
                      .map{|tag| link_to(tag, @page.url.merge(tag: tag))} \
                      .to_sentence
        %></span><span>.</span>
      </p>
    <% end %>
  </div>
</div>
<hr class="pre-posts"/>
<div class="blog-posts page-<%= @npage %>">
  <% paginate = true %>
  <%=
   posts = @posts
   format = blog.visualization_format
   if inside_block
     posts = blog.posts.paginate(:page=>1, :per_page=>inside_block.posts_per_page)
     format = inside_block.visualization_format
     paginate = false
   end
   (blog.empty? ?
     content_tag('em', _('(no posts)')) :
     list_posts(posts, format: format, paginate: paginate)
   )
  %>
</div>

<% if @page.display_tag_cloud or @page.display_date_filter %>
  <hr class="pre-blog-filter"/>
<% end %>

<% if @page.display_tag_cloud %>
  <div class="blog-tag-cloud">
    <h2><%=_('Tags on this posts')%></h2>
    <%
      tags = {}
      @page.posts.published.tag_counts_on(:tags).map{|tag| tags[tag.name] = tag.taggings_count }
    %>
    <div class="blog-tag-cloud-list">
      <%= tag_cloud tags, :tag, @page.url, min_size: 80, max_size: 120, unity: '%' %>
    </div>
  </div>
<% end %>

<% if @page.display_tag_cloud and @page.display_date_filter %>
  <hr class="sep-blog-filter"/>
<% end %>

<% if @page.display_date_filter %>
  <div class="blog-date-filter">
    <h2><%=_('Filter posts by month:')%></h2>
    <select onchange="filterByDate(this.value)">
    <option><%=_('Select...')%></option>
    <%=
    # FIXME use display_to when it has converted to a scope.
    # Checkout this page for further information: http://noosfero.org/Development/ActionItem2705
    posts = @page.posts.published.native_translations
    posts.except(:order).count(:all, group: 'EXTRACT(YEAR FROM published_at)')\
                        .sort_by {|year, count| -year.to_i}.map do |year, count|
      posts.except(:order).count(:all, :conditions => ['EXTRACT(YEAR FROM published_at)=?', year],
                                       :group => 'EXTRACT(MONTH FROM published_at)')\
                          .sort_by {|month, count| -month.to_i}.map do |month, count|
        content_tag('option', "#{year} - #{month_name(month.to_i)} (#{count})",
                    value: "#{year},#{month.to_i}")
      end
    end.flatten.join("\n")
    %>
    </select>
  </div>
  <script>
    function filterByDate(date) {
      date = date.split(',');
      document.location.href = '<%=url_for @page.url%>?year='+date[0]+'&month='+date[1];
    }
  </script>
<% end %>
